<nav class='navbar navbar-inverse'>
 <h2><%= link_to 'Recipe Book', root_path, :class=> 'recipe-title' %></h2>
</nav>
<div>
  <%= link_to 'Add New Recipe', new_recipe_path, method: :get, :class => 'add-new-recipe-link' %>
</div>
