<div class='col-sm-3 col-md-2 sidebar'>
  <nav class='navbar nav-sidebar'>
    <div class='container'>
      <button type='button' class='navbar-toggle collapsed navbar-inverse' data-toggle='collapse' data-target='#navbar-collapse-1'>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
    </div>
    <div class='collapse navbar-collapse' id='navbar-collapse-1'>
      <ul class='nav nav-sidebar'>
        <% @tags.each do |tag| %>
          <li><%= link_to tag.name, tag %></li>
        <% end %>
          <li><%= link_to 'Add New Tag', new_tag_path, method: :get %></li>
      </ul>
    </div>
  </nav>
</div>

