<div class='col-sm-3 col-md-2 sidebar'>
  <ul class='nav nav-sidebar'>
    <% @tags.each do |tag| %>
      <li><%= link_to tag.name, tag %></li>
    <% end %>
    <li><%= link_to 'Add New', new_tag_path, method: :get %></li>
  </ul>
</div>
